body { 
	background-color: #fff; 

} 
.container { 
	background-color: #FFF; 
	width: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

.push-down{

  margin-top: 25px;
}


.btn-primary {
  color: #fff;
  background-color: #047611;
  border-color: #3ADF00;
  background-image: url(http://oi57.tinypic.com/n3kuxg.jpg);
}

.btn-info {
  border-color: #3ADF00;
}

.badge {
  background-color: #3ADF00;
  
}

.btn-block:hover,
.btn-default:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #047611;
  border-color:#3ADF00 ;
}


a {
  color: #3ADF00;

}

a:hover,
a:focus {
  color: #047611;
  text-decoration: none;
  font-weight: bold;

}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #047611;
  border-color: #3ADF00;
}

.btn {
  background-color: #3ADF00;
  
}

.btn-Facebook:hover{
  background-color: #047611;
  color: #fff;
}





.gn-menu-main,
.gn-menu-main ul {
    margin: 0;
    padding: 0;
    background: #fff;
    
    list-style: none;
    text-transform: none;
    
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
    z-index:150;
}

.navbar-brand{
  display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    
    text-align: center;

}

.navbar-default .navbar-brand {
  color: #3ADF00;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #047611;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #3ADF00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #047611;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #047611;
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.gn-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    
    text-align: center;
}





.gn-menu-main > li:last-child {
    float: right;
    
}

.gn-menu-main > li > a {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}



#intro{ 
  background-image: url(img/principalteste.png); 
  
  background-size: cover;

  height: 557px;

  

}

.intro {
  width:100%;
  position:relative;
}

.intro .slogan {
  padding: 70px 0 60px;
  text-align: center;

  
}
.intro .slogan h1 {
  color: #fff;
  line-height: 1.1em;
  margin-bottom: 20px;
   font-size: 40px;
}
.intro .slogan p {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
}





.navbar-collapse {
  max-width: 100%;
  width: 100%;
}



.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 3px solid transparent;
  border-bottom: 2px solid #eee;
}

hr {
  margin-top: 5px;
  margin-bottom: 0px;
  border: 0;
  border-top: 0px solid #eee;
}


