body { 
	background-color: #fff; 


} 
.container { 
	background-color: #FFF; 
	width: 100%; 
 

}



.btn-primary {
  color: #fff;
  background-color: #047611;
  border-color: #3ADF00;
  background-image: url(http://oi57.tinypic.com/n3kuxg.jpg);
}

.btn-info {
  border-color: #3ADF00;
}

.badge {
  background-color: #3ADF00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #047611;
  border-color:#3ADF00 ;
}


a {
  color: #3ADF00;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #047611;
  border-color: #3ADF00;
}

.btn {
  background-color: #3ADF00;
  
}

.btn-Facebook:hover{
  background-color: #047611;
  color: #fff;
}



.gn-menu-main,
.gn-menu-main ul {
    margin: 0;
    padding: 0;
    background: #fff;
    
    list-style: none;
    text-transform: none;
    
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
    z-index:150;
}






.gn-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    text-align: center;
}





.gn-menu-main > li:last-child {
    float: right;
    
}

.gn-menu-main > li > a {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}



#intro{ 
  background-image: url(http://oi59.tinypic.com/6gac1j.jpg);
  background-size: cover;
  height: 500px;

}

.intro {
  width:100%;
  position:relative;
}

.intro .slogan {
  padding: 110px 0 60px;
  text-align: center;
  
}
.intro .slogan h1 {
  color: #fff;
  line-height: 1.1em;
  margin-bottom: 20px;
   font-size: 40px;
}
.intro .slogan p {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
}













