<template name="home"> 
{{#if currentUser}} 
	<aside class="col-sm-3"> 
	{{> avatar user=this shape="circle" size="large"}}
	{{> profile}} 
	{{> friendship}}
	</aside>
	<section class="col-sm-9"> 
	{{> post}} 
	{{> timeline}} 
	{{> map}}
	</section> 
{{else}} 
<section id="intro" class="intro">
	<div class="slogan">
	<!--<img src="http://oi57.tinypic.com/2jcg9y.jpg" > -->
	<h1>Bem vindo ao IDriver</h1>
			<p>Rede social de informações sobre o trânsito</p>
	</div>

</section>

{{/if}} 
</template>

